.CircularProgress-Bg,
.CircularProgress-Fg {
	fill: none;
}

.CircularProgress-Bg {
	stoke: #ddd;
}

.CircularProgress-Fg {
	transition: stroke-dashoffset .5s ease-in-out;
	stroke: #ddd;
}

.CircularProgress-Text {
	font-family: sans-serif;
	font-size: 25px;
	fill: #fff;

	transform: translate(0 50%);
}

.CircularProgress {
	padding: 1em;
}
