body {
    background-color: #000;
    font-family: "HelveticaNeue-UltraLight";
    color: #fff;
}

.setting {
	color: var(--primary-green);
	position: absolute;
	bottom: 10px;
}

.inline {
	display: inline;
}

