body {
    background-color: #000;
    font-family: "HelveticaNeue-UltraLight";
    color: #fff;
}

.container {
    padding: 5% 10%;
	display: grid;
}

.weatherBar {
	font-size: 21px;
	color: #fff;
}