:root {
  --dark-color: #000;
  --light-dark-color: #000;
	--primary-green: #50E3C2;
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
	font-weight: 500;
  font-family: 'HelveticaNeue-UltraLight', sans-serif;
  font-size: large;
	over-flow: hidden;
}

video {
  display: block;
}

