:root {
  --dark-color: #000;
  --light-dark-color: #000;
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
}

video {
  display: block;
}